# Configurações do Keycloak DB
KEYCLOAK_DB=keycloak_db
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

# Configurações do Finance Service DB
FINANCE_DB=poupe_ai
FINANCE_DB_USER=poupe_ai
FINANCE_DB_PASSWORD=poupe_ai

# Configurações do Keycloak Admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Configurações do Poupe.AI Backend Cliente do Keycloak
POUPE_AI_BACKEND_CLIENT_SECRET=poupe_ai_backend_client_secret

# Google OAuth2 (Opcional)
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

# Configurações do Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# RabbitMQ Message Broker
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password

# Redis Cache
REDIS_PASSWORD=password

# Email credentials for notification service
MAIL_USERNAME=seu-usuario-smtp
MAIL_PASSWORD=sua-senha-smtp
MAIL_FROM="poupeai.notificacoes@gmail.com"
MAIL_FROM_NAME="Poupe.AI"
MAIL_PORT=587
MAIL_SERVER="smtp-relay.brevo.com"

KEYCLOAK_ISSUER='http://localhost:8080/realms/poupe-ai'
KEYCLOAK_JWKS_URL='http://keycloak:8080/realms/poupe-ai/protocol/openid-connect/certs'
REDIS_URL="redis://redis-finance:6379/0"
KEYCLOAK_SERVER_UR="http://keycloak:8080/"
KEYCLOAK_ADMIN_CLIENT_SECRET="client_secret_value"

CELERY_FLOWER_USER=debug
CELERY_FLOWER_PASSWORD=debug